#1 List to series conversion

In [38]:
import pandas as pd
import numpy as np
s=pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
print(s)

a    100
b    200
c    300
d    400
e    500
dtype: int64

#2 Generate series of dates from 1st may 2021 to 12th may 2021

In [4]:
dates=pd.date_range(start='05-01-2021',end='05-12-2021')
print(dates)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

#3 Convert dictionary to dataframe

In [8]:
dictionary={'Name':['Arya','Sreeja','Reshma'],'Place':['Trivandrum','Kollam','Pathanamthitta'],'Course':['MCA','CS','EEE']}
df=pd.DataFrame(dictionary)
print(df)

     Name           Place Course
0    Arya      Trivandrum    MCA
1  Sreeja          Kollam     CS
2  Reshma  Pathanamthitta    EEE

#4 Convert 2D list to dataframe

In [9]:
data=[['Arya',22,'Female','MCA'],['Sreeja','27','Female','CS'],['Reshma',24,'Female','EEE'],['Kavya',20,'Female','Mech']]
df=pd.DataFrame.from_records(data)
print(df)

        0   1       2     3
0    Arya  22  Female   MCA
1  Sreeja  27  Female    CS
2  Reshma  24  Female   EEE
3   Kavya  20  Female  Mech

#5 Read a csv file to a dataframe

In [17]:
df=pd.read_csv('sample.csv')
print(df)

FileNotFoundError: ignored

#6 Sort a dataframe by multiple columns

In [20]:
details={'RollNo':[23,41,33,37],'Name':['Arya','Sreeja','Harishma','Meenu'],'Marks':[90,80,100,88]}
dataframe=pd.DataFrame(details)
print(dataframe)
print("\n\nSorted DataFrame\n\n")
print(dataframe.sort_values(by=['RollNo'],ascending=True))

   RollNo      Name  Marks
0      23      Arya     90
1      41    Sreeja     80
2      33  Harishma    100
3      37     Meenu     88


Sorted DataFrame


   RollNo      Name  Marks
0      23      Arya     90
2      33  Harishma    100
3      37     Meenu     88
1      41    Sreeja     80

#7 Convert a dataframe with custom indexing to default indexing

In [30]:
details={'RollNo':[23,41,33,37],'Name':['Arya','Sreeja','Harishma','Meenu'],'Marks':[90,80,100,88]}
index={'I','II','III','IV'}
df=pd.DataFrame(details,index)
df.reset_index(inplace=True)
print(df)

  index  RollNo      Name  Marks
0     I      23      Arya     90
1   III      41    Sreeja     80
2    II      33  Harishma    100
3    IV      37     Meenu     88

#8 Select first two rows of a dataframe

In [31]:
details={'RollNo':[23,41,33,37],'Name':['Arya','Sreeja','Harishma','Meenu'],'Marks':[90,80,100,88]}
df=pd.DataFrame(details)
print(df.head(2))

   RollNo    Name  Marks
0      23    Arya     90
1      41  Sreeja     80

#9 Find the average salary per occupation from dataframe showing name,occupation and salary of people

In [37]:
data={'Name':['Reshma','Lakshmi','Ram','Lakshman'],'Occupation':['Teacher','Doctor','Engineer','Doctor'],'Salary':[20000,50000,40000,80000]}
df=pd.DataFrame(data)
print(df)
print("\n\n")
sal_avg=df.groupby('Occupation')['Salary'].mean()
print(sal_avg)

       Name Occupation  Salary
0    Reshma    Teacher   20000
1   Lakshmi     Doctor   50000
2       Ram   Engineer   40000
3  Lakshman     Doctor   80000



Occupation
Doctor      65000
Engineer    40000
Teacher     20000
Name: Salary, dtype: int64

#10 Fill the NaN values with 0 in the given

In [39]:
data={'RollNo':[23,33,37,41],'Name':['Arya','Harishma','Meenu','Sreeja'],'Marks':[np.nan,80,np.nan,90]}
df=pd.DataFrame(data)
print(df)
df_nullfill=df.fillna(0)
print("\n\n")
print(df_nullfill)

   RollNo      Name  Marks
0      23      Arya    NaN
1      33  Harishma   80.0
2      37     Meenu    NaN
3      41    Sreeja   90.0



   RollNo      Name  Marks
0      23      Arya    0.0
1      33  Harishma   80.0
2      37     Meenu    0.0
3      41    Sreeja   90.0

#11 Convert the values of profit column from the given dataframe such that the values in it greater than 0 are set to True and the rest are set to False

In [55]:
data={'cname':['Wipro','CTS','TCS','UST'],'profit':[1000000,200000,-311000,-230000]}
df=pd.DataFrame(data)
print('\n\n')
df['profit']=df['profit'].apply(lambda x:x>0)
print(df)

   cname  profit
0  Wipro    True
1    CTS    True
2    TCS   False
3    UST   False

#12 Output the dataframe containing employee id(eid),employee name(ename),stipend(stipend) and position(position) from the two dataframes given

In [59]:
data1={'eid':[1001,1002,1003,1004],'ename':['Arya','Sreeja','Malu','Aparna'],'stipend':[10000,20000,30000,15000]}
data2={'eid':[1001,1002,1003,1004],'position':['Senior Manager','Clerk','General Manager','Sales Manager']}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print("\n\n",df2)
dataframe=pd.merge(df1,df2,how='inner',on='eid')
print("\n\n",dataframe)

    eid   ename  stipend
0  1001    Arya    10000
1  1002  Sreeja    20000
2  1003    Malu    30000
3  1004  Aparna    15000


     eid         position
0  1001   Senior Manager
1  1002            Clerk
2  1003  General Manager
3  1004    Sales Manager


     eid   ename  stipend         position
0  1001    Arya    10000   Senior Manager
1  1002  Sreeja    20000            Clerk
2  1003    Malu    30000  General Manager
3  1004  Aparna    15000    Sales Manager